body, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

body { font-family: Helvetica, Arial, sans-serif }

a { text-decoration: none }

.yearCalendar{
    max-width: 800px;
    margin: 0 auto;
}

.calendar {
    padding: 0px 10px 10px 10px;
    width:176px;
    text-align: center;
    font-size: .8em;
    display: inline-block;

}

.cal-day, .cal-days-of-week>div {
    width: 20px;
    height: 20px;
    display: inline-block;
    float: left;
}

.cal-days-of-week {
    width: 140px;
    color: #666;
    font-size: .6em;
    text-transform: capitalize;
}

.selected {position: relative;}
.selected:after { 
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    right: 0px;
    bottom: 3px;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
    border: 2px solid #666;
    border-radius: 30px;
}

.cal-title {
    text-align: center; 
    padding: 10px 0;
}
.cal-legend {
    text-align: center; 
    font-size: .8em; 
    padding-bottom:20px; 
}
.month-title {
    width: 140px;
    height: 20px;
}

.holiday {
    font-weight: 900;
    font-size: 1em;   
    color:red;
}

@media print{@page {size: landscape}}